.help-block {
    margin-top:0 !important;
    margin-bottom:0 !important; 
    height:18px;
    overflow: hidden;
    font-size:small;
}

.help-block strong {
    font-weight: normal !important
}


.logo-lg-hsc{ 
    height:48px;
    background-image:url("/assets/img/logo-lg-hscbrasil.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:70%;
}
